*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family:"Roboto", Geneva, Tahoma, sans-serif;


}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header  {

    padding: 10px 40px;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-color:white;

}
#human{
    margin: 10px;
    /* background-image: url("../assets/architect.jpg"); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
#human1{
    margin: 50px;;
    letter-spacing :2px;
    opacity:60%;
    position: absolute;
    left: 1px;;
    color: white;
    display: flex;
    flex-direction:column;

}
#jane{
    display: contents;
    justify-content:space-between;
    color: white;

}
#four{
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px;;
}
/* #three{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
} */

     



